
IgnoreBuildCollision/icon.png
IgnoreBuildCollision/Banner.xcf
IgnoreBuildCollision/banner.jpg
IgnoreBuildCollision.sln
build.bat
*.rmod
.vs/*
IgnoreBuildCollision/.vs/*
IgnoreBuildCollision/bin/*
IgnoreBuildCollision/obj/*